header {
  height: 10vh;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 5px solid black;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  height: 8vh;
  padding: 10px;
  background-color: black;
  color: white;
}

main {
  margin: 15px;
  padding: 20px 30px;
  height: 75vh;
  width: 90vw;
}
article {
  margin-top: 25px 0;
  font-family: "Helvetica";
}
.destaque {
  color: orange;
}
