* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px; /*espaço para não ficar colado na borda*/
}

.container {
  /*criado para nao alterar o body*/
  display: flex;
  height: 100vh;
  flex-direction: column;
}
main {
  flex-grow: 3; /*cresci para cumprir o espaco restante*/
  display: flex;
}
.direita {
  border: 2px solid blue;
  flex-grow: 1;
}
.esquerda {
  border: 2px solid red;
  flex-grow: 2; /*para esquerda ficar maior que a direita*/
}

article {
  flex-grow: 3;
  display: flex;
  border: 2px solid yellow;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  align-content: flex-start;
}

#imagens {
  border: 2px solid black;
  text-align: center;
}

footer {
  align-items: flex-end;
  border: 2px solid black;
}
