
/*a) Adicione a classe `bloco` a todos os articles;
b) Atribua a cada um dos articles um id `bloco-NUMERO`, indo de 1 a 4;*/

/*Utilize as propriedades do box model para deixar os articles iguais aos da imagem anexada. Atribua estas propriedades à classe `bloco`;*/

/*a) Utilize os ids para atribuir as bordas e cores de fundo dos articles, de acordo com o modelo;
b) Defina "Helvetica" como a fonte padrão do elemento `main`.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bloco {
  margin: 10px ;
  color: white;
  height: 80px;
  width: 350px;
  padding: 10px;
  text-align: center;
  /*padding-left: 35px;
  padding-top: 10px;*/
}

#bloco-1 {
  background-color: orange;
  border: 10px solid rgb(246, 182, 64);
  
}
#bloco-2 {
  background-color: rgb(52, 139, 52);
  border: 10px solid rgb(62, 154, 88);
}

#bloco-3 {
  background-color: rgb(20, 74, 20);
  border: 10px dashed rgb(62, 154, 88);
}

#bloco-4 {
  background-color: rgb(183, 33, 33);
  border: 10px dashed rgb(201, 67, 67);
}

main {
  font-family: Arial, Helvetica, sans-serif;
}


sasasasa