.longe-bordas {
  background-color: pink;
  display: block;
  margin: 100px;
}

.afastado {
  background-color: #77c0ed;
  display: block;
  margin: 50px 0;
}
.alto {
  background-color: #c3e887;
  height: 300px;
}

.largo {
  background-color: #ffe396;
  width: 500px;
  padding: 32px;
}

.bordado {
  background-color: #af9bcc;
  border: 1px solid black;
}

.sumido {
  display: none;
}

/*margin: 0 auto para centralizar;*/
